.title-one{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw ;
}
.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw ;
    
}
.NearestCentre{
    font-size: 1vw;
}
label{
    font-size: 1vw;
}
.appointment-button{
    background-color: red;
    color: azure;
    border: none;
}
